/* @font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: url(../fonts/Inter/Inter-Regular.woff) format('woff'),
       url(../fonts/Inter/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url(../fonts/Inter/Inter-Bold.woff) format('woff'),
       url(../fonts/Inter/Inter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url(../fonts/Inter/Inter-SemiBold.woff) format('woff'),
       url(../fonts/Inter/Inter-SemiBold.woff2) format('woff2');
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Arial', sans-serif;
  padding-top: 28px;
}

.header {
  max-width: 1184px;
  margin: 0 48px ;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: url(./images/logo.svg) no-repeat;
  width: 176px;
  height: 52px;
}

.header__lang {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}



.header__lang-link {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 18px 0 6px 18px;
}

.header__lang-link_active {
  border-bottom: 1px solid #fff;
} */