body {
  background-color: #2a2c2f;
}

.gallery {
  max-width: 1184px;
  padding: 0 48px 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.gallery__item {
  width: 100%;
  color: #fff; /* чтобы подпись к картинке была белого цвета, если она не загрузится */
}







