.footer__author-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  transition: opacity .4s ease-out;
}

.footer__author-link:hover {
  opacity: .8;
}

@media screen and (max-width: 530px) {
  .footer__author-link {
    font-size: 12px;
    line-height: 14px;
  }
}